.background {
    background-image: url("../../../../src/assets/background-image/backgroundImage.png");
    background-color: rgba(255,255,255,0.6);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    width: 100%;
    filter: blur(5px);
}
.login_form {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: calc(50% - 175px);
    z-index:1;
    max-width: 420px;
    padding: 32px;
    background-color: #ffffff ;
    box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_item {
    width: 345px;
    box-sizing: border-box;
    border-radius: 4px;
}

.login_form_title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: inline-block;
    margin-bottom: 32px;
}
.login_form_btn{
    background: linear-gradient(104.34deg, #41522E -15.34%, #BE8022 145.95%);
    border: 1.5px solid #41522E;
    width: 345px;
    height: 34px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.login_form_btn:hover {
    cursor: pointer;
    background: linear-gradient(104.34deg, #41522E -15.34%, #BE8022 145.95%);
    border: 1.5px solid #41522E;
}