.favorites_rating {
    border: 1px solid #41522E;
    box-sizing: border-box;
    border-radius: 4px;
    width: 90px;
    height: 28px;
    margin-left: 32px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.408px;
    color: #41522E;
    padding: 4px 0 4px 8px;
}
.favorites_rating_arrows {
    margin-top: 4px;
    margin-right: 13px;
}
.favorites_rating_arrow {
    padding: 0;
    width: 9px;
    height: 6px;
}
.arrow {
    display: block;
    width: 9px;
    height: 6px;
    cursor: pointer;
}
.select_rotated {
    transform: rotate(180deg);
}

.favorites_rating_disabled {
    border: 1px solid #E5E5E5;
    color: #E5E5E5;
    pointer-events: none;
}
