.hotels_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    min-height: 100vh;
}
.hotels_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    padding: 32px;
    margin: 0;
}
.hotels_logout {
    color: #41522E;
    padding: 36px 68px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.408px;
    color: #41522E;
    background-color: transparent;
    border: none;
    box-shadow: none;
}
.hotels_logout:hover {
    background: #F4F4F4;
    color: #41522E;
}
.hotels_logout:active {
    background: #F4F4F4;
    color: #41522E;
}
.hotels_logout:focus {
    background: #F4F4F4;
    color: #41522E;
}
.logout_btn_logo {
    color: #41522E;
    padding-left: 15px;
}
.content_wrapper {
    max-width: 1080px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 360px 664px;
    grid-template-rows: repeat(2, 410px);
    grid-gap: 24px;

}
.hotels_searchFrom {
    width: 360px;
    height: 410px;
    background: #FFFFFF;
    box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
}
.hotels_content {
    width: 664px;
    height: 902px;
    background: #FFFFFF;
    box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
}
.hotels_content_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 48px;
}
.hotel_choosen {
    margin: 0;
    padding: 0 0 0 32px;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #424242;
}

.hotel_choosen > img {
    margin: 0 15px;
}
.hotel_check_in_date {
    font-size: 24px;
    line-height: 28px;
    color: #41522E;
}

.hotel_check_in_date {
    padding-right: 32px;
}
.hotels_favorites {
    width: 360px;
    height: 472px;
    background: #FFFFFF;
    box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
}
.hotel_favorites_amount {
    padding-left: 32px;
    margin: 28px 0 12px 0;
    font-weight: 300;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #424242;
}
.amount_favorities_hotels {
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #41522E;

}
.searchForm_location {
    width: 296px;
    margin: 0 auto;
}
.datepicker_checkIn {
    width: 100%;
}
.searchForm_btn {
    width: 296px;
    background: linear-gradient(104.34deg, #41522E -15.34%, #BE8022 145.95%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.searchForm_btn:hover {
    background: linear-gradient(104.34deg, #41522E -15.34%, #BE8022 145.95%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.searchForm_btn:active {
    background: linear-gradient(104.34deg, #41522E -15.34%, #BE8022 145.95%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.hotels_cards {
    width: 600px;
    margin: 0 auto;
    border: 1px solid black;
    height: 500px;
    overflow: auto;
}

.hotel_card {
    width: 100%;
    height: 99px;
    border-bottom: 1px solid #878787;
}

.favorities_title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #424242;
    padding: 32px;
}
.favorities_raiting {
    border: 1px solid #41522E;
    box-sizing: border-box;
    border-radius: 4px;
    width: 90px;
    height: 28px;
    margin-left: 32px;
}
.selectDown {
    transform: rotate(180deg);
}
.backgroundHotels {
    position: relative;
    background: #F4F4F4;
    height: 1224px;
}
/*исправить фон!!!*/